.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  text-align: center;
}

.error-page h1 {
  font-size: 6rem;
}

.error-page p {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.error-page a {
  color: #ef4444;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
}